---
layout: page
title: Categories
permalink: /categories/
---

<main>
  {% for tag in site.categories %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    <a id="tag_box" href="{{ page.url }}#{{t}}">{{t}}</a>

  {% endfor %}

  <ul>
  {% for tag in site.categories %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

  <h2 id="{{t}}"># {{ t }}</h2></br>

    {% for post in posts %}
      {% if post.categories contains t %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}

  {% endfor %}
  <ul>
</main>
