---
layout: page
title: Tags
permalink: /tags/
---

<main>
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    {% assign cont = 0 %}

    {% for post in posts %}
      {% if post.tags contains t %}
        {% assign cont = cont | plus: 1 %}
      {% endif %}
    {% endfor %}

    <a id="tag_box" href="{{ page.url }}#{{t}}">{{t}} <span id="tag_box_span">{{cont}}</span></a>

  {% endfor %}

  <ul>
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

  <h2 id="{{t}}"># {{ t }}</h2></br>

    {% for post in posts %}
      {% if post.tags contains t %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}

  {% endfor %}
  <ul>
</main>
